.header {
  height: 60px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-weight: 700;
  font-size: 30px;
  color: #091f6c;
}

.line {
  background-color: #091f6c;
  border: none;

  height: 2px;
  width: 92%;
  margin: auto;
}
